<div class="page no-toolbar" data-name="order-detail" style="background-color: var(--f7-list-item-divider-bg-color);">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link back" data-reload-current="true">
          <i class="icon icon-back"></i>
        </a>
      </div>
      <div class="title">Rincian Pesanan</div>
    </div>
  </div>
  <div class="page-content">
    <div class="card no-padding-top">
      <div class="list">
        <ul>
          <li>
            <div class="item-content" style="padding-left: 0 !important">
              <div class="item-inner" style="padding-left: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right) - var(--menu-list-offset))">
                <div class="item-title">Nomor</div>
                <div class="item-after skeleton-text skeleton-effect-wave" data-label="order-no">____</div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content" style="padding-left: 0 !important">
              <div class="item-inner" style="padding-left: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right) - var(--menu-list-offset))">
                <div class="item-title">Status</div>
                <div class="item-after skeleton-text skeleton-effect-wave" data-label="order-status">____</div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content" style="padding-left: 0 !important">
              <div class="item-inner" style="padding-left: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right) - var(--menu-list-offset))">
                <div class="item-title">Tanggal</div>
                <div class="item-after skeleton-text skeleton-effect-wave" data-label="order-date">____</div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content" style="padding-left: 0 !important">
              <div class="item-inner" style="padding-left: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right) - var(--menu-list-offset))">
                <div class="item-title">Total</div>
                <div class="item-after skeleton-text skeleton-effect-wave" data-label="order-total">____</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="block-title">Item</div>
    <div class="list no-margin-top chevron-center skeleton-text skeleton-effect-wave" data-label="list-item">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">___ ____</div>
              </div>
              <div class="item-subtitle">_____</div>
              <div class="item-text">_____ __ _____</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="block-title">Informasi Pembayaran</div>
    <div class="block skeleton-text skeleton-effect-wave" data-label="bank-info">
      <p>
        Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis
        tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis.
      </p>
    </div>
  </div>
</div>
